
@{
    ViewBag.Title = "Contacto";
}

<h2>Contacto</h2>
<h3>@ViewBag.Info</h3>

<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h3>Dirección:</h3>
            <address>
                6 avenida 13-54<br />
                Colonia Landívar, Zona 7<br />
                Ciudad de Guatemala, Guatemala<br />

            </address>

            <h3>Horario:</h3>
            <address>
                Lunes a Viernes: 8am a 5pm<br />
                Sábado: 8am a 12pm<br/>
            </address>

            <h3>Contacto:</h3>
            <address>
                <abbr title="Ventas"><strong>C:</strong> </abbr>  <a href="mailto:ventas@cars.com">ventas@cars.com</a><br />
                <abbr title="Teléfono"><strong>T:</strong></abbr>
                01800-CARS
            </address>
        </div>
        <div class="col-lg-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.5370004826664!2d-90.53817178569382!3d14.625431389786613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a190308858f1%3A0x6795822b2b81d4ac!2sCentro+Educativo+Tecnico+Laboral+KINAL%2C+6A+Avenida+13-54%2C+Guatemala+01007!5e0!3m2!1ses!2sgt!4v1459479124011" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
  </div>