
@{
    ViewBag.Title = "Contacto";
}

<h2>Contacto</h2>
<h3>@ViewBag.Info</h3>

<address>
    Colonia Landívar, Zona 7<br />
    Ciudad de Guatemala, Guatemala<br />
    <abbr title="Teléfono">T:</abbr>
    01800-CARS
</address>

<address>
    <strong>Ventas:</strong>   <a href="mailto:ventas@cars.com">ventas@cars.com</a><br />
</address>

