@{
    ViewBag.Title = "Inicio";
}
<link rel="stylesheet" type="text/css" href="~/Content/custom.css"/>
    
<div class="jumbotron">
    <h1>AUTOVENTAS CARS</h1>
    <p class="lead">Bienvenido a nuestro sitio, aquí encontrará diferentes tipos de automóviles a la venta.</p>
    <p><a href="@Url.Action("Index","Automovil")" class="btn btn-primary btn-large">Ver Catálogo &raquo;</a></p>
</div>