
@{
    ViewBag.Title = "Taller";
}

<h2>Taller <strong>Cars</strong></h2>
<!-- Page Content -->
<div class="container">

    <div class="row">


            <hr>

            <!-- Preview Image -->
        <img class="img-responsive" src="~/Imagenes/taller2.jpg" alt="Taller cars.">

            <hr>

            <!-- Post Content -->
            <p class="lead" style="text-align:justify">En <strong>Autoventas Cars</strong> no solo nos dedicamos a la venta de automóviles. También contamos con nuestro propio taller. Aquí encontrarás equipo de alta tecnología, operado por personal altamente calificado.
        Recuerda, estamos autorizados para hacer mantenimiento y reparaciones a más de 25 marcas de carros distintas. Ofrecemos descuentos especiales en mantenimiento preventivo a todos los carros que hayan sido comprados con nosotros.</p>
            <p>Encuentra la ubicación de nuestro taller en la pestaña de <a href="@Url.Action("Contacto","Home")">contacto.</a></p>

        </div>

        </div>


